body {
    background-image: url("./pictures/movieKnightBG.PNG");
    background-size: cover;
    background-position: fixed;

    font-family: sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex: 0;
    background-color: lightsteelblue;
}

main {
    display: flex;
    flex: 1;
}

footer {
    display: flex;
    flex: 0;
    background-color: lightsteelblue;
    padding: 20px;
}

footer ul {
    margin: auto;
    transform: translate(-20px, 0px);
}

footer li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: lightgray;
}

h1 {
    font-size: 30px;
    font-family: "Eagle Lake", serif;
}

h3 {
    display: block;
    margin-left: 20px;
    text-align: left;
}

nav {
    display: flex;
    width: 100vw;
    align-items: center;
}

nav div:nth-child(1) {
    display: flex;
    flex: 0;
    margin-left: 40px;
    margin-right: 40px;
}

nav div:nth-child(2) {
    display: flex;
    flex: 1;
}

nav * {
    display: inline;
}

nav ul {
    margin-right: 60px;
}

nav ul li {
    font-size: 18px;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    padding: 12px;
}

nav a:hover {
    background-color: lightgray;
}

table {
    background-color: black;
    border: solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    padding: 5px;
    background-color: lightgray;
    border: solid black;
}

td {
    padding: 5px;
    background-color: lightsteelblue;
    border: solid black;
}

#user {
    background-color: lightsteelblue;
    border: none;
    margin-right: 3vw;
    margin-left: 3vw;
}

#user:hover {
    background-color: lightgray;
    cursor: pointer;
}

#loginContainer {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 3%;
    border-radius: 5%;
}

#loginLabel {
    margin-bottom: 50px;
}

#loginButton, #createAccountButton {
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    background-color: lightgreen;
    padding: 8px;
    font-size: 15px;
}

#loginButton:hover, #createAccountButton:hover {
    background-color: greenyellow;
    cursor: pointer;
    transform: scale(1.075);
    transition-duration: 300ms;
}

#collection, #database, #filter, #results, #roomDetailsColumn, #votingColumn {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 3%;
    border-radius: 15px;
    overflow-y: scroll;
}

#filterLabel {
    grid-area: label;
}

#genreFilter {
    grid-area: genre;
}

#scoreFilter {
    grid-area: score;
}

#yearFilter {
    grid-area: year;
}

#ratingFilter {
    grid-area: rating;
}

#applyFilters {
    grid-area: apply;
}

#filter {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
     "label label"
     "genre score"
     "year rating"
     "apply apply"
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

.button {
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    border: none;
    border-radius: 8px;
    background-color: lightgreen;
    padding: 8px;
    font-size: 15px;
}

.button:hover {
    background-color: greenyellow;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}

.collectionDeleteButton {
    border: none;
    border-radius: 8px;
    background-color: lightgreen;
    padding: 8px;
    font-size: 15px;
}

.collectionDeleteButton:hover {
    background-color: greenyellow;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}